<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/static/css/style.css">
</head>
<body>
    <div class="container">
        <p class="user_name">{{current_user.full_name}}</p>

        {% if current_user.role == 'admin'%}
        <nav>
            <ul class="nav-list">
                <li style="color: white;"><a href="/admin" style="color: white;"><h2>ADMIN</h2></a></li>
                <li><a href="/user">Users</a></li>
                <li><a href="/product">Sản Phẩm</a></li>
                <li><a href="/orders">Đơn Hàng</a></li>
                <li><a href="/supplier">Nhà Cung Cấp</a></li>
                <li><a href="/goods-receipt">Đơn Nhập Hàng</a></li>

                <li><a href="/logout">Đăng Xuất</a></li>
            </ul>
        </nav>
        {% elif current_user.role == 'employee' %}
        <nav>
            <ul class="nav-list">
                <li style="color: white;"><a href="/admin" style="color: white;"><h2>ADMIN</h2></a></li>
                <li><a href="/orders">Đơn Hàng</a></li>
                <li><a href="/logout">Đăng Xuất</a></li>
            </ul>
        </nav>
        {% else %}
        <nav>
            <ul class="nav-list">
                <li style="color: white;"><a href="/admin" style="color: white;"><h2>ADMIN</h2></a></li>
                <li><a href="/product">Sản Phẩm</a></li>
                <li><a href="/supplier">Nhà Cung Cấp</a></li>
                <li><a href="/goods-receipt">Đơn Nhập Hàng</a></li>

                <li><a href="/logout">Đăng Xuất</a></li>
            </ul>
        </nav>
        {% endif %}
  


    </div>
</body>
</html>