<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Order Stats</title>
    <link rel="stylesheet" href="/static/css/style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css">

</head>
<body>
    <div class="container">
        <p class="user_name">{{current_user.full_name}}</p>

        {% if current_user.role == 'admin'%}
        <nav>
            <ul class="nav-list">
                <li style="color: white;"><a href="/admin" style="color: white;"><h2>ADMIN</h2></a></li>
                <li><a href="/user">Users</a></li>
                <li><a href="/product">Products</a></li>
                <li><a style="color: white" href="/orders">Orders</a></li>
                <li><a href="/supplier" >Suppliers</a></li>
                <li><a href="/goods-receipt">Goods Receipts</a></li>

                <li><a href="/logout">Logout</a></li>
            </ul>
        </nav>
        {% elif current_user.role == 'employee' %}
        <nav>
            <ul class="nav-list">
                <li style="color: white;"><a href="/admin" style="color: white;"><h2>ADMIN</h2></a></li>
                <li><a style="color: white" href="/orders">Orders</a></li>
                <li><a href="/logout">Logout</a></li>
            </ul>
        </nav>
        {% endif %}


        <div class="toolbar" style="margin-top: 20px;">

            <!-- <form action="#" method="post">
                <input type="month" id="month" name="month">
                <button type="submit">Search</button>
            </form> -->
            <form action="/order/stats" method="post">
                <input type="month" id="from_month" name="from_month" value="{{ selected_from_month }}">
                <input type="month" id="to_month" name="to_month" value="{{ selected_to_month }}">
                <button type="submit" style="padding: 10px 20px">Stats</button>
            </form>
        </div>
        <table>
            <thead>
                <tr>
                    <th>Product ID</th>
                    <th>Product Name</th>
                    <th>Quantity</th> 
                    <th>Total</th>
                </tr>
            </thead>
            <tbody>
                {% for p in product_revenue %}
                <tr>
                    <td>{{ p.product_id }}</td>
                    <td>{{ p.name }}</td>
                    <td>{{ p.quantity }}</td> 
                    <td>{{ "{:,.1f}".format(p.total) }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
        
        <div class="total"><p><strong>Total {% if selected_month %} in {{ selected_month }}{% endif %}:</strong> {{ "{:,.2f}".format(total_revenue) }}</p></div>


    </div>
    <script src="/static/js/script.js"></script>
</body>
</html>