<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/static/css/style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css">
    <style>
        .cancel {
        background-color: red;
        border-radius: 5px;
        border: none;
        margin-top:30px;
        display: inline-block;
        color: white;
        padding: 10px;
        cursor: pointer;
        text-decoration: none;
    }
    </style>
</head>

<body>
    <div class="container" style="font-size: 15px;">
        <p class="user_name">{{current_user.full_name}}</p>

        {% if current_user.role == 'admin'%}
        <nav>
            <ul class="nav-list">
                <li style="color: white;"><a href="/admin" style="color: white;"><h2>ADMIN</h2></a></li>
                <li><a href="/user">Users</a></li>
                <li><a href="/product">Sản Phẩm</a></li>
                <li><a style="color: white" href="/orders">Đơn Hàng</a></li>
                <li><a href="/supplier">Nhà Cung Cấp</a></li>
                <li><a href="/goods-receipt">Đơn Nhập Hàng</a></li>

                <li><a href="/logout">Đăng Xuất</a></li>
            </ul>
        </nav>
        {% elif current_user.role == 'employee' %}
        <nav>
            <ul class="nav-list">
                <li style="color: white;"><a href="/admin" style="color: white;"><h2>ADMIN</h2></a></li>
                <li><a style="color: white" href="/orders">Đơn Hàng</a></li>
                <li><a href="/logout">Đăng Xuất</a></li>
            </ul>
        </nav>
        {% endif %}



        {% if details %}
        <table>
            <thead>
                <tr>
                    <th>Product Name</th>
                    <th>Quantity</th>
                    <th>Price</th>
                    <th>Supplier Name</th>
                </tr>
            </thead>
            <tbody>
                {% for detail in details %}
                <tr>
                    <td>{{ detail.product_name }}</td>
                    
                    <td>{{ detail.quantity }}</td>
                    <td>{{ "{:,.0f}".format(detail.price) }}</td>
                    <td>{{ detail.supplier }}</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
        {% else %}
        <div class="container-no-order">
            <div class="no-order">No Order Details</div>
        </div>
        {% endif %}

        <div>
            <a class="cancel" href="/orders">Trang chủ</a>
        </div>
    </div>
</body>

</html>