<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Receipt Stats</title>
    <link rel="stylesheet" href="/static/css/style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css">

</head>

<body>
    <div class="container">
        <p class="user_name">{{current_user.full_name}}</p>

        {% if current_user.role == 'admin'%}
        <nav>
            <ul class="nav-list">
                <li style="color: white;"><a href="/admin" style="color: white;">
                        <h2>ADMIN</h2>
                    </a></li>
                <li><a href="/user">Users</a></li>
                <li><a href="/product">Sản Phẩm</a></li>
                <li><a href="/orders">Đơn Hàng</a></li>
                <li><a href="/supplier">Nhà Cung Cấp</a></li>
                <li><a href="/goods-receipt" style="color: white">Đơn Nhập Hàng</a></li>

                <li><a href="/logout">Đăng Xuất</a></li>
            </ul>
        </nav>
        {% elif current_user.role == 'warehouse_manager' %}
        <nav>
            <ul class="nav-list">
                <li><a href="/admin" style="color: white;">
                        <h2>ADMIN</h2>
                    </a></li>
                <li><a href="/product">Sản Phẩm</a></li>
                <li><a href="/supplier">Nhà Cung Cấp</a></li>
                <li><a href="/goods-receipt" style="color: white">Đơn Nhập Hàng</a></li>

                <li><a href="/logout">Đăng Xuất</a></li>
            </ul>
        </nav>
        {% endif %}


        <div class="toolbar" style="margin-top: 20px;">

            <!-- <form action="#" method="post">
                <input type="month" id="month" name="month">
                <button type="submit">Search</button>
            </form> -->
            <form action="/goods-receipt/stats" method="post">
                <input type="month" name="from_month" value="{{ selected_from_month }}">
                <input type="month" name="to_month" value="{{ selected_to_month }}">
                
                <button type="submit" name="action" value="stats" style="padding: 10px 20px">Stats</button>
                <button type="submit" formaction="{{ url_for('export_goods_receipt_excel') }}" style="padding: 10px 20px">Export</button>
            </form>
            
            
        </div>
        <table>
            <thead>
                <tr>
                    <th>Product Name</th>
                    <th>Supplier Name</th>
                    <th>Quantity</th>
                    <th>Total</th>
                </tr>
            </thead>
            <tbody>
                {% for item in product_import_stats %}
                <tr>
                    <td>{{ item.product_name }}</td>
                    <td>{{ item.supplier_name }}</td>
                    <td>{{ item.total_quantity }}</td>
                    <td>{{ "{:,.0f}".format(item.total_price) }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>

        <div class="total">
            <p><strong>Total: </strong> {{
                "{:,.0f}".format(total_import_cost) }}</p>
        </div>


    </div>
    <script src="/static/js/script.js"></script>
</body>

</html>