<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/static/css/style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css">

</head>

<body>
    <div class="container" style="font-size: 15px;">
        <p class="user_name">{{current_user.full_name}}</p>

        {% if current_user.role == 'admin'%}
        <nav>
            <ul class="nav-list">
                <li><a href="/admin" style="color: white;">
                        <h2>ADMIN</h2>
                    </a></li>
                <li><a href="/user">Users</a></li>
                <li><a href="/product">Sản Phẩm</a></li>
                <li><a href="/orders">Đơn Hàng</a></li>
                <li><a href="/supplier">Nhà Cung Cấp</a></li>
                <li><a href="/goods-receipt" style="color: white">Đơn Nhập Hàng</a></li>

                <li><a href="/logout">Đăng Xuất</a></li>
            </ul>
        </nav>
        {% elif current_user.role == 'warehouse_manager' %}
        <nav>
            <ul class="nav-list">
                <li><a href="/admin" style="color: white;">
                        <h2>ADMIN</h2>
                    </a></li>
                <li><a href="/product">Sản Phẩm</a></li>
                <li><a href="/supplier">Nhà Cung Cấp</a></li>
                <li><a href="/goods-receipt" style="color: white">Đơn Nhập Hàng</a></li>

                <li><a href="/logout">Đăng Xuất</a></li>
            </ul>
        </nav>
        {% endif %}


        {% if message %}
        <div class="message" id="message">{{message}}</div>
        {% endif %}
        <div style="margin-top: 20px;" class="btn-container product-toolbar">
            <div class="product-toolbar-left">
                <a href="/goods-receipt/new-goods-receipt" class="createBtn">Create New Receipt</a>
                <a href="/goods-receipt/new-goods-receipt-detail" class="createBtn">Create New Receipt Detail</a>
                <a href="/goods-receipt/stats" id="createBtn">Stats</a>

            </div>


        </div>


        {% if receipts %}
        <table>
            <thead>
                <tr>
                    <td></td>
                    <th>Receipt ID</th>
                    <th>Supplier Name</th>
                    <th>Date</th>
                    <th>Total Price</th>
                </tr>
            </thead>
            <tbody>
                {% for re, total_amount in receipts %}

                <tr>

                    <td><a href="/goods-receipt-detail/{{re.receipt_id}}"><i class="fa-solid fa-eye"></i></a></td>
                    <td>{{ re.receipt_id }}</td>
                    <td>{{ re.supplier }}</td>
                    <td>{{ re.import_date }}</td>
                    <td>{{ '{:,.0f}'.format(total_amount) }}</td>

                </tr>
                {% endfor %}
            </tbody>
        </table>
        {% else %}
        <div class="container-no-order">
            <div class="no-order">No products found</div>
        </div>
        {% endif %}
    </div>
</body>

</html>